body{
background:#0b1c33;
color:white;
font-family:Arial;
text-align:center;
}

.hero{
margin-top:150px;
}

.btn{
background:#00c3ff;
padding:15px 30px;
color:white;
text-decoration:none;
border-radius:10px;
}

.form-container{
margin-top:150px;
}

input{
padding:12px;
width:250px;
}

button{
padding:12px 25px;
background:#00c3ff;
border:none;
color:white;
}

.cards{
display:flex;
justify-content:center;
gap:40px;
margin-top:40px;
}

.card{
background:#142a47;
padding:30px;
border-radius:15px;
}

.chart-container{
width:70%;
margin:auto;
margin-top:50px;
}